:root {
    font-size: 13px;
    --font-destaque: "Archivo", sans-serif;
    --font-normal: "Inter", sans-serif;

    --background-page: #F9F9F9;
    --background-section: #FFFFFF;
    --color-texto-destaque: #181818;
    --color-texto-normal: #686868;
    --border-color: #EAEAEA;
    --btn-theme-page-image: url("../images/icons/btn-theme-light-active.png");

    --background-page-dark: #121212;
    --background-section-dark: #919191;
    --background-botao: #007BFF;
    --border-color-dark: #333333;
    --color-texto-destaque-dark: #EAEAEA;
    --color-texto-normal-dark: #A0A0A0;
    --btn-theme-page-image-dark: url("../images/icons/btn-theme-dark-active.png");
}

body {
    scroll-behavior: smooth;
}

.link-active {
    border-bottom: 2px solid var(--border-color-dark);
}

.container {
    padding: 3rem 1rem;
    max-width: 1000px;
    margin: 4rem auto;
    border-radius: 5px;
}

.button {
    transition: .3s transform ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.filter-invert-off {
    filter: none !important;
}

.page {
    background-color: var(--background-page) !important;
}

.texto-destaque {
    color: var(--color-texto-destaque) !important;
}

.texto {
    color: var(--color-texto-normal) !important;
}

.section {
    background-color: var(--background-page) !important;
}

.page-dark {
    background-color: var(--background-page-dark);
}

.section-dark {
    background-color: var(--background-section-dark);
}

.icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}

.github {
    background-image: url("../images/icons/github.png");
    filter: invert();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
    transition: .3s background ease-in-out, .3s color ease-in-out;
    color: var(--color-texto-normal-dark);
    overflow-wrap: anywhere;
}

h1, h2, h3, h4, h5, h6, button, a {
    color: var(--color-texto-destaque-dark);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

a, li, button, p {
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--color-texto-destaque-dark);
}

button, fieldset {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

@media screen and (min-width: 890px) {
    :root {
        font-size: 16px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container {
        padding: 4rem 1rem;
    }
}