.sobre-mim--imagem {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.sobre-mim--imagem img {
    max-width: 100%;
    border-radius: 50%;
}

.sobre-mim h2 {
    margin: 0 0 3rem 0;
}

.sobre-mim--conteudo {
    display: flex;
    flex-flow: column nowrap;
}

.sobre-mim--texto {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

.sobre-mim--texto p {
    padding: 1rem 0;
}

.sobre-mim--listaIdiomas li {
    list-style: inside url("../images/icons/language-icon.png");
    margin-bottom: 1rem;
}

.sobre-mim--botoes {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
}

.sobre-mim--botoes a {
    padding: 1rem 1rem;
    border: 1px solid var(--border-color-dark);
    border-radius: 8px;
    background-color: var(--background-botao);
    color: var(--color-texto-destaque-dark);
    font-weight: bold;
}

@media screen and (min-width: 890px) {
    .sobre-mim div.container {
        box-shadow: 0px 0px 10px #007bff7c;
        padding: 4rem 3rem;
    }

    .sobre-mim--conteudo {
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .sobre-mim--imagem {
        flex: 1 1 30%;
        width: initial;
        max-width: initial;
        margin: 0;
    }

    .sobre-mim--texto {
        flex: 2 1 50%;
    }
}